@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0f0f0f;
  --foreground: #ffffff;
}

body {
  background-color: #0f0f0f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 300ms ease, color 300ms ease;
}

.orange-gradient {
  background: linear-gradient(135deg, #ff6a00, #ff8c42);
}
